# Database - Local (SQLite para desenvolvimento)
DATABASE_URL="file:./dev.db"

# Database - Produção Vercel Postgres (será preenchido automaticamente pela Vercel)
# DATABASE_URL="postgres://default:xxx@xxx.postgres.vercel-storage.com:5432/verceldb"
# DIRECT_URL="postgres://default:xxx@xxx.postgres.vercel-storage.com:5432/verceldb"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
