# Database
DATABASE_URL="postgresql://user:password@localhost:5432/esportiva_tracker?schema=public"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Opcional: para produção na Vercel, use o Vercel Postgres ou outro provider
# DATABASE_URL="postgres://default:xxx@xxx.postgres.vercel-storage.com:5432/verceldb"
